body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #34495e;
  color: burlywood;
  font-family: "Trirong", sans-serif;
}

.button {
  background-color: #beefec;
  border: none;
  color: rgb(14, 19, 72);
  padding: 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: #beefec;
  border: none;
  background-color: rgb(14, 19, 72);
  padding: 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}
